@import "tailwindcss";

@theme {
  /* Colors */
  --color-gold: #D4AF37;
  --color-navy: #0F172A;
  --color-cream: #F8FAFC;
  --color-emerald: #166534;

  /* Font Styling */
  --font-serif: "Playfair Display", serif;
}


.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: var(--color-gold);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}